language: python
dist: bionic
python: 3.6

stages:
- lint
- test

env:
  PEEWEE_URL: postgres://postgres:@localhost/pacifica_metadata
  BROKER_URL: redis://127.0.0.1:6379/0
  BACKEND_URL: redis://127.0.0.1:6379/0

script:
  - pip install .
  - cd tests
  - coverage run --include='*pacifica/elasticsearch/*' -p -m celery -A pacifica.elasticsearch.tasks worker -l info &
  - coverage run --include='*pacifica/elasticsearch/*' -m pytest -xsv
  - celery -A pacifica.elasticsearch.tasks control shutdown || true
  - coverage combine -a .coverage*
  - coverage report -m --fail-under 100

before_script:
  - pip install ansible
  - ansible-galaxy install pacifica.ansible_pacifica pacifica.ansible_travis
  - ansible-playbook ~/.ansible/roles/pacifica.ansible_travis/molecule/common/playbook.yml -i ~/.ansible/roles/pacifica.ansible_travis/molecule/common/inventory.yml -e "ansible_python_interpreter=/home/travis/virtualenv/python${TRAVIS_PYTHON_VERSION}/bin/python travis_virtualenv=python${TRAVIS_PYTHON_VERSION} github_repository=elasticsearch"

jobs:
  include:
    - stage: lint
      before_script: skip
      script: pre-commit run -a
    - stage: test

before_install:
  - curl -LO https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-7.5.1-amd64.deb && sudo dpkg -i --force-confnew elasticsearch-7.5.1-amd64.deb && sudo service elasticsearch restart; sudo journalctl -xe

install:
  - pip install -r requirements-dev.txt
